<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>

<body>
    <footer class="footer">
        <div class="footer-center overlap">
            <div class="footer-text foot">
                <h2>UNIVELBLOG</h2>
                <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                    live the blind texts.</P>
            </div>
            <div class="lastest-news foot">
                <h4>Latest News</h4>
                <div class="foots-img">
                    <img src="{% static 'image/trees.jpg' %}" alt="">
                    <p>Even th all powerful nature has control</p>
                </div>
                <div class="foots-img">
                    <img src="{% static 'image/bulldog.jpg' %}" alt="">
                    <p>All Animal Are allsome and smart</p>
                </div>
            </div>
            <div class="link-page foot">
                <h4>Information</h4>
                <div class="foot-list">
                    <li>Home</li>
                    <li>About</li>
                    <li>Article</li>
                    <li>Contact</li>
                </div>
            </div>
            <div class="info foot">uvshs</div>
        </div>
    </footer>
</body>

</html>