<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Homes.css' %}">
    <script src="https://kit.fontawesome.com/b5f518753b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <div class="image-cont">
            <nav class="header">
                <div class="header-inner overlap">
                    <div class="logo">
                        <h1><i class="fa-solid fa-shield"></i></h1>
                    </div>

                    <div class="header-link">
                        <ul>
                            <a href="http://127.0.0.1:8000">
                                <li>Home</li>
                            </a>
                            <a href="http://127.0.0.1:8000/article/">
                                <li>Article</li>
                            </a>
                            <a href="http://127.0.0.1:8000/team/">
                                <li>Team</li>
                            </a>
                            <a href="http://127.0.0.1:8000/contact/">
                                <li>Contact</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </nav>

            <div class="image">
                <div class="text-image overlap">

                    <div class="lorem">
                        <p>Hello Welcome to</p>
                    </div>
                    <div class="lorem blog">
                        <h1>UNIVEL BLOG</h1>
                    </div>
                    <div class="lorem text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, numquam unde. Alias
                            facilis minus
                            vitae rem distinctio harum assumenda earum commodi. Veniam aspernatur fugiat necessitatibus
                            nisi!
                            Amet expedita perspiciatis aperiam!</p>
                    </div>

                    <div class="arrow-down">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-sect">
            <div class="list overlap relate">
                <div class="img">
                    <img src="{% static 'image/forest.jpg' %}" alt="">
                </div>
                <div class="sect-text">
                    <div class="list-text">
                        <p>ILLUSTRATION</p>
                        <h3>ALL IS NATURE WHEN IT CALL, <br> ALL IA NATURE</h3>
                    </div>
                </div>
            </div>
            <div class="list overlap relate">
                <div class="img">
                    <img src="{% static 'image/city.jpg'%}" alt="">
                </div>
                <div class="sect-text">
                    <div class="list-text">
                        <p>ILLUSTRATION</p>
                        <h3>THE CITY OF WALL, <br> HOW DO YOU ADAPT IN THERE</h3>
                    </div>
                </div>
            </div>
            <div class="list overlap relate">
                <div class="img">
                    <img src="{% static 'image/lemon.jpg'%}" alt="">
                </div>
                <div class="sect-text">
                    <div class="list-text">
                        <p>ILLUSTRATION</p>
                        <h3>LEMONADE AND COLORFUL <br> BLUEEEEE!!!!</h3>
                    </div>
                </div>
            </div>
            <div class="list overlap relate">
                <a href="">
                    <div class="img">
                        <img src="{% static 'image/bulldog.jpg'%}" alt="">
                    </div>
                    <div class="sect-text">
                        <div class="list-text">
                            <p>ILLUSTRATION</p>
                            <h3>MEY PET, MY DOG, <br> WILD LIFE</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list overlap relate">
                <a href="">
                    <div class="img">
                        <img src="{% static 'image/wrose.jpg'%}" alt="">
                    </div>
                    <div class="sect-text">
                        <div class="list-text">
                            <p>ILLUSTRATION</p>
                            <h3>WHITE ROSE</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list overlap relate">
                <div class="img">
                    <img src="{% static 'image/trees.jpg'%}" alt="">
                </div>
                <div class="sect-text">
                    <div class="list-text">
                        <p>ILLUSTRATION</p>
                        <h3>NATURE CALLS <br> ALL WE NEED</h3>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-center overlap">
                <div class="footer-text foot">
                    <h2>UNIVELBLOG</h2>
                    <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</P>
                </div>
                <div class="lastest-news foot">
                    <h4>Latest News</h4>
                    <div class="foots-img">
                        <img src="{% static 'image/trees.jpg' %}" alt="">
                        <p>Even th all powerful nature has control</p>
                    </div>
                    <div class="foots-img">
                        <img src="{% static 'image/bulldog.jpg' %}" alt="">
                        <p>All Animal Are allsome and smart</p>
                    </div>
                </div>
                <div class="link-page foot">
                    <h4>Information</h4>
                    <div class="foot-list">
                        <li>Home</li>
                        <li>About</li>
                        <li>Article</li>
                        <li>Contact</li>
                    </div>
                </div>
                <div class="info foot">uvshs</div>
            </div>
        </footer>
    </div>
</body>

</html>