<div class="image-cont">
    <nav class="header">
        <div class="header-inner overlap">
            <div class="logo">
                <h1><i class="fa-solid fa-shield"></i></h1>
            </div>

            <div class="header-link">
                <ul>
                    <li>Home</li>
                    <a href="http://127.0.0.1:8000/article/">
                        <li>Article</li>
                    </a>
                    <a href="http://127.0.0.1:8000/team/">
                        <li>Team</li>
                    </a>
                    <a href="http://127.0.0.1:8000/contact/">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>
        </div>

    </nav>

    <div class="image">
        <div class="text-image overlap">

            <div class="lorem">
                <p>Hello Welcome to</p>
            </div>
            <div class="lorem blog">
                <h1>UNIVEL BLOG</h1>
            </div>
            <div class="lorem text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, numquam unde. Alias
                    facilis minus
                    vitae rem distinctio harum assumenda earum commodi. Veniam aspernatur fugiat necessitatibus
                    nisi!
                    Amet expedita perspiciatis aperiam!</p>
            </div>

            <div>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
        </div>
    </div>
</div>