.article-page {
    display: flex;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


i {
    animation: animateDown infinite 1.5s;
    font-size: 1.3rem;
    color: white;
    margin-top: 25px;
}

a {
    text-decoration: none;
}


.image-cont {
    /* border: solid rgb(218, 29, 29) 3px; */
    height: 850px;
    background-image: url('./image/forest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    /* border: solid rgb(200, 193, 200) 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
}

.header-inner {
    /* border: solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 75%;
    font-size: larger;
}

.header-link {
    /* border: solid orange; */
    width: 55%;
}

.header-link ul {
    display: flex;
    justify-content: space-between;
}

.header-link ul li {
    text-decoration: none;
    list-style: none;
}

.header-link li {
    cursor: pointer;
    color: white;
}

.header-link ul li:hover {
    transition: all linear 1.5s;
    color: yellow;
}

.istheader {
    /* border: solid green; */
}

.artic-white {
    background-color: rgba(232, 218, 192, 0.896);
}


.image {
    /* border: solid yellow 2px; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.text-image {
    /* border: solid white; */
    color: white;
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.text-image {
    color: rgba(167, 167, 167, 0.729);
}


.lorem {
    /* border: solid white; */
    margin-top: 40px;
}

.blog {
    /* border: solid aqua; */
    font-size: xx-large;
}


.text {
    /* border: solid chocolate; */
    width: 35%;
}

.artic-white {
    /* border: solid yellow; */
    display: flex;
    justify-content: center;
    background-color: rgb(252, 252, 252);
    /* height: 1400px; */
    width: 100%;
}


.image-text {
    color: rgba(167, 167, 167, 0.729);
    background-color: rgba(233, 233, 233, 0.916);
    color: rgb(69, 68, 68);
    width: 70%;
    margin-top: 40px;
}

.image-text :hover {
    transition: all linear 1.2s;
    background-color: rgb(168, 168, 168);
}


.blog {
    /* border: solid papayawhip; */
    height: 50%;
}

.blog img {
    object-fit: cover;
    /* margin-top: 20px; */
    margin-bottom: 15px;
    width: 100%;
    height: 50%;
}

.blog h2 {
    margin-top: 5px;
    font-size: xx-large;
    margin-bottom: 10px;
}

.blog p {
    font-size: large;
}




.footer {
    background-color: rgb(43, 43, 51);
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer-center {
    /* border: solid purple; */
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foot {
    /* border: solid gold; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 10px;
}

.foot p {
    color: rgb(155, 155, 155);
}


.foot p:hover {
    color: gold;
}

.footer-text {
    /* border: solid blue; */
    display: flex;
    justify-content: space-around;
}

.foots-img {
    /* border: solid brown; */
    display: flex;
}

.foots-img p {
    margin-left: 10px;
}


.foots-img img {
    width: 50%;
    height: 50%;
}


.link-page {
    /* border: solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .link-page h4 {
    margin-bottom: 15px;
} */

.foot h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot-list {
    width: 80%;
    height: 70%;
}

.foot-list li {
    list-style: none;
    line-height: 30px;
}

.foot-list li:hover {
    color: gold;
    cursor: pointer;
}

